body{
    background:#f4f6f9;
}

.navbar-brand{
    font-size:28px;
    font-weight:bold;
}

.card{
    border:none;
    border-radius:15px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.bg-primary{
    border-radius:20px;
}